/* navbar */
.navbar {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

.nav-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: #1e90ff;
  white-space: nowrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-size: 16px;
  font-weight: 500;
}

.nav-auth a {
  margin-left: 20px;
}

.register-btn {
  background: #1e90ff;
  padding: 8px 14px;
  border-radius: 5px;
  color: white;
}

@media (max-width: 900px) {
  .nav-links,
  .nav-auth {
    display: none; 
  }

  .nav-container {
    justify-content: center;
  }

  .nav-logo {
    font-size: 22px;
  }
}

/* Room Card Box */
.room-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}

.room-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.room-card-info {
  padding: 15px 18px;
  text-align: left;
}

.room-card-info h3 {
  margin-bottom: 6px;
  font-size: 20px;
}

.room-type {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.room-price {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #007bff;
}

.room-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

.room-btn:hover {
  background: #0056b3;
}

/* Tablet */
@media (max-width: 900px) {
  .room-card img {
    height: 180px;
  }
}

/* Mobile Phones */
@media (max-width: 600px) {
  .room-card {
    border-radius: 10px;
  }

  .room-card-info {
    padding: 12px 14px;
  }

  .room-card-info h3 {
    font-size: 18px;
  }

  .room-btn {
    font-size: 14px;
    padding: 9px;
  }
}

/* footer */
.footer {
  border-top: 2px solid #e5e7eb;   
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 50px;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  color: #1e90ff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-title {
  color: #1e90ff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.footer-link {
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

.footer-link:hover {
  color: #1e90ff;
}

.footer-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #1e90ff;
  margin-bottom: 12px;
}

.footer-btn {
  width: 100%;
  padding: 12px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-btn:hover {
  background-color: #1873cc;
}

.social-icons {
  display: flex;
  gap: 18px;
  font-size: 22px;
  margin-top: 10px;
  color: #333;
}

.social-icons svg {
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #1e90ff;
}


.not-available-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  padding: 6px 14px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.room-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
